@{
    ViewData["Title"] = "Home Page";
}


    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-left">
            <a class="navbar-brand" href="https://localhost:44383/Index.cshtml">Alamance County Landfill</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#LandFillLinks"
                    aria-controls="LandFillLinks" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="LandFillLinks">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link">News and Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Contact</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Solid Waste</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item">Request Custom Pickup</a>
                            <a class="dropdown-item">Vacation Hold</a>
                            <a class="dropdown-item">Electronic Waste Disposal</a>
                            <a class="dropdown-item">Hazardous Waste Disposal</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item">Recycling</a>
                            <a class="dropdown-item" href="https://www.alamance-nc.com/landfill/wp-content/uploads/sites/16/2019/09/RecycleRight-NC-Factsheet.pdf">Recycling Fact Sheet</a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item alert-info">
                        <a class="nav-link">
                            Pay Bill
                        </a>
                    </li>
                </ul>
            </div>
            <img src="~/images/FB-f-Logo__blue_72.png" class="img-fluid float-sm-right" width="30" height="30" />
            <img src="~/images/twitter.png" class="img-fluid float-sm-right" width="30" height="30" />
            <img src="~/images/Youtube.png" class="img-fluid float-sm-right" width="40" height="40" />
        </nav>

        <div class="jumbotron">
            <img src="~/images/landfill2.png" class="img-fluid w-100" alt="Landfill Banner" />
            <br>
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label>
                            Search Site
                        </label>

                        <input class="form-control w-50" type="text" placeholder="Search..." />
                    </div>

                </div>
            </div>

            <h4>Hours Of Operation</h4>
            <h5>Landfill/Scales</h5>
            <p>
                Monday – Friday, 7:00 am – 4:30 pm;<br />
                Saturday, 7:00 am – 12:00 pm; <br />
                Sunday- Closed
            </p>
            <h5>Recyling Center</h5>
            <p>
                Monday – Friday, 7:00 am – 6:00 pm; <br />
                Saturday, 7:00 am – 5:00 pm; <br />
                Sunday, 1:00 pm – 5:00 pm;<br />
                (Except Holidays – refer to Holiday Operation Schedule)
            </p>



        </div>
        </div>